{{! Task button }}
<button
  id="edit-task-{{id}}"
  data-toggle="modal"
  data-target="#editTask-{{id}}"
  class="task-open"
>{{title}}</button>

{{! Task Modal }}
<div
  class="modal fade"
  id="editTask-{{id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="task-popup"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa-solid fa-pencil"></i>
        <div class="flex-col text-left">
          {{{title_input title id}}}
          <p class="list-text">in list <b>{{status}}</b></p>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <div class="form-group">

        </div>
        <div class="description-group flex-row">
          <i class="fa-solid fa-align-left"></i>
          <div class="form-group">
            <label for="task-description">Description</label>
            {{{content_input description id}}}
          </div>
        </div>
        <div class="flex-row text-left">
          <i class="fa-solid fa-calendar-days"></i>
          <div class="form-group">
            <label for="task-duedate">Due date</label>
            {{{date_input due_date id}}}
            <button id="edit-task-save-{{id}}" class="edit-task-save">Save</button>
          </div>
        </div>

      </div>
      
      {{! Comment section }}
      <div class="comment-body text-left">
        <div class="new-comment-group flex-row">
          <i class="fa-solid fa-comment"></i>
          <div class="form-group">
            <label for="task-description">Comments</label>
            <textarea class="new-comment" id="new-comment-{{id}}" placeholder="Write a comment..."></textarea>
            <button id="save-comment-{{id}}" class="save-comment" value={{id}} style="display:none">Post</button>
          </div>
        </div>
        {{#each comments as |Comment|}}
          {{> comment-details}}
        {{/each}}
      </div>

      {{! Delete section }}
      <div class="delete-body">
        <button class="delete-task" id="delete-task-{{id}}"><i class="fa-solid fa-trash"></i>Delete Task</button>
      </div>
    </div>
  </div>
</div>


{{!-- Call scripts --}}
{{!-- Post a new comment --}}
<script>
  const button{{id}} = document.getElementById('save-comment-{{id}}')
  button{{id}}.addEventListener("click", async () => {
    const comment = document.getElementById('new-comment-{{id}}').value;
    const taskId = {{id}}
    const response = await fetch("/api/comment", {
      method: 'POST',
      body: JSON.stringify({comment, taskId }),
      headers: { 'Content-Type': 'application/json' }
    })

    if (response.ok) {
      // If successful, redirect the browser to the profile page
      document.location.replace('/board');
    } else {
      alert(`${response.statusText}: Invalid task`);
    }
  
  })
</script>

{{!-- Update a Task--}}
<script>
  const saveButton{{id}} = document.getElementById('edit-task-save-{{id}}')
  saveButton{{id}}.addEventListener("click", async () => {

    const taskId = {{id}}
    const title = document.querySelector('#task-title-{{id}}').value.trim();
    const description = document.querySelector('#task-description-{{id}}').value.trim();
    const dueDate = document.querySelector('#task-duedate-{{id}}').value;

    const response = await fetch("/api/tasks/{{id}}", {
      method: 'PUT',
      body: JSON.stringify({title, description, dueDate, taskId }),
      headers: { 'Content-Type': 'application/json' }
    })

    if (response.ok) {
      // If successful, redirect the browser to the profile page
      document.location.replace('/board');
    } else {
      alert(`${response.statusText}: Invalid task`);
    }

  })
</script>


{{!-- Delete a task  --}}

<script>
  const deleteButton{{id}} = document.getElementById('delete-task-{{id}}')
  deleteButton{{id}}.addEventListener("click", async () => {

    const response = await fetch('/api/tasks/{{id}}', {
      method: 'DELETE',
    });

    if (response.ok) {
      // If successful, redirect the browser to the profile page
      document.location.replace('/board');
    } else {
      alert(`${response.statusText}: Invalid task`);
    }
  
  })
</script>


{{!-- Show comment save button --}}
<script>
const input{{id}} = document.getElementById('new-comment-{{id}}').addEventListener("click", () => {
  document.getElementById('save-comment-{{id}}').style.display = "flex"
})

</script>

