{{! Task button }}
<button
  id="edit-task-{{id}}"
  data-toggle="modal"
  data-target="#editTask-{{id}}"
  class="task-open"
>{{title}}</button>

{{! Task Modal }}
<div
  class="modal fade"
  id="editTask-{{id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="task-popup"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa-solid fa-pencil"></i>
        <div class="flex-col text-left">
          {{{title_input title}}}
          <p class="list-text">in list <b>{{status}}</b></p>
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <div class="form-group">

        </div>
        <div class="description-group flex-row">
          <i class="fa-solid fa-align-left"></i>
          <div class="form-group">
            <label for="task-description">Description</label>
            {{{content_input description}}}
          </div>
        </div>
        <div class="flex-row text-left">
          <i class="fa-solid fa-calendar-days"></i>
          <div class="form-group">
            <label for="task-duedate">Due date</label>
            {{{date_input due_date}}}
            <button id="edit-task-save" class="edit-task-save">Save</button>
          </div>
        </div>

      </div>
      
      {{! Comment section }}
      <div class="comment-body text-left">
        <div class="new-comment-group flex-row">
          <i class="fa-solid fa-comment"></i>
          <div class="form-group">
            <label for="task-description">Comments</label>
            <textarea class="new-comment" id="new-comment" placeholder="Write a comment..."></textarea>
            <button id="save-comment" class="save-comment">Post</button>
          </div>
        </div>
        {{#each comments as |Comment|}}
          {{> comment-details}}
        {{/each}}
      </div>

      {{! Delete section }}
      <div class="delete-body">
        <button class="delete-task"><i class="fa-solid fa-trash"></i>Delete Task</button>
      </div>
    </div>
  </div>
</div>


